@import '../../../scss/mixin';
@import '../../../scss/variables';

.screenFour {
   background: #F7F9FB;

   justify-content: center;
   gap: 100px;

   color: black;

   font-weight: 700;

   @include desktop-width {
      gap: 60px;
   }

   @include tablet {
      gap: 40px;
   }

   &__item {
     display: flex;
     flex-direction: column;
     gap: 15px;

     width: 300px;

     align-items: center;

     @include desktop-width {
         width: 250px;
      }

     @include tablet {
         width: 220px;
      }

     &__count {
        
        font-size: 48px;
        line-height: 60px;

        & span {
            color: $primary;
        }
     }

     &__content {
        font-size: 24px;
        line-height: 35px;

        text-align: center;

        @include desktop-width {
            font-size: 20px;
            line-height: 30px;
         }

        @include tablet {
            font-size: 18px;
            line-height: 26px;
         }
     }
   }

}